---
import { Image } from 'astro:assets';
import type { ImageType } from '@/types';

export interface Props {
  span: string;
  image: ImageType;
  heading: string;
  tagline: string;
}

const { span, image, heading, tagline } = Astro.props;
const { src, alt } = image;
---

<div class={`group relative flex flex-col justify-between col-span-1 ${span}`}>
  <div
    class="relative px-8 py-10 h-full bg-purp border border-light border-opacity-75 rounded-[10px]"
  >
    <div class="relative h-40 w-40">
      <div
        class="absolute bg-purp-light rounded-[10px] w-full h-full translate-x-1 translate-y-1"
      >
      </div>
      <Image
        class="relative object-cover overflow-hidden rounded-[10px] h-full w-full"
        src={src}
        width={160}
        height={160}
        alt={alt}
      />
    </div>
    <div class="mt-12">
      <p class="text-copy">{tagline}</p>
      <h3 class="font-brand font-bold text-white text-2xl mt-4">
        {heading}
      </h3>
    </div>
  </div>
</div>
