---
import Layout from "@/components/layout/Layout.astro";
import Container from "@/components/layout/Container.astro";
import ContactSection from "@/components/sections/ContactSection.astro";
import AddToCalendarButton from "@/components/ui/AddToCalendarButton";
import EventBadge from "@/components/ui/EventBadge.astro";
import LocationBadge from "@/components/ui/LocationBadge.astro";
import { getAllEvents, getEventById } from "@/lib/events";

export function getStaticPaths() {
  const events = getAllEvents();
  return events.map((event) => ({
    params: { id: event.id },
  }));
}

const { id } = Astro.params;
const event = getEventById(id);

if (!event) {
  return Astro.redirect("/404");
}

const { title, location, address, details, image, startTime, endTime } = event;

const dateObj = new Date(startTime);
const isUpcomingEvent = new Date() < dateObj;
---

<Layout title={`${title} | Bloomington-Normal Developers`}>
  <section>
    <Container class="mt-24">
      <h1>{title}</h1>
      <div class="mt-12 grid grid-cols-1 gap-12 md:grid-cols-2">
        {
          image && (
            <img
              class="relative w-full rounded-[10px] border-2 border-purple-600 object-cover"
              src={image.src}
              alt={image.alt}
              width={250}
              height={250}
            />
          )
        }
        <div>
          <div class="flex flex-col items-start gap-2">
            <EventBadge startTime={startTime} endTime={endTime} />
            <LocationBadge location={location} />
            <p class="text-sm">{address}</p>
          </div>

          {
            isUpcomingEvent && (
              <div class="mt-4">
                <AddToCalendarButton event={event} client:load />
              </div>
            )
          }
          <div class="mt-10">
            <h2 class="font-bold text-purple-600">Details</h2>
            <p class="mt-4">{details}</p>
          </div>
        </div>
      </div>
    </Container>
  </section>
  <ContactSection />
</Layout>
